# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.UlearnGame.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Artyom\source\repos\UlearnGame\.idea\.idea.UlearnGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
